
body{
/* 	text-align: left; */
	margin-right: 500px;
}
.wz a {
	font-size: 16px;
	color: forestgreen;
	text-decoration: none;
	position: relative;
	/* 规定元素的定位类型 */
	padding-left: 24px;
	height: 60px;
}

img {
	list-style: none;
	width: 300px;
	height: 300px;
}

li {
	/* list-style: none; */
	text-decoration: none
}
ol li{
	font-size: 20px;
	font-weight: 540;
}
p{
	font-size: 15px;
	text-decoration: underline;/* 给文字添加下划线 */
}