ul li{
	list-style-type:none;
	border-left-width: 6px;
	border-left-color: red;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
	border-bottom-style:solid;
	width: 90px;
	text-align: center;
}
ul li a{
	width: 90px;
	height: 50px;
	
	display: block;
	text-decoration: none;
	font-size: 20px;
	color: blue;
	background-color: black;
	line-height: 50px;
}
ul li a:hover{
	color:green;
	
}
